.buttonsContainer {
    display: flex;
    gap: 25px;
}

.buttonsContainer button:disabled {

}

.responseContainer {
    height: 365px;
    display: flex;
    align-items: center;
    gap: 85px;
    margin-top: 60px;
}

.imageContainer {
}

.image {
}

.textContainer{
    font-size: 16px;
    font-weight: 500;
}

.code {
    font-size: 30px;
}

.text {
    margin-top: 15px;
}
.info {
}