.buttonsContainer {
    width: 180px;
   margin-top: 30px;
   display: flex;
    gap: 20px;
}

.buttonsContainer button:disabled {
    color: #FFF;
}

.clock {
    height: 110px;
}

.watch {
}

.watch strong {
}

.more {

}