@font-face {
    font-weight: 400; /* Соответствует значению normal */
    font-family: Montserrat;
    src: url("../../public/fonts/montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-weight: 700; /* Соответствует значению bold */
    font-family: Montserrat;
    src: url("../../public/fonts/montserrat/static/Montserrat-SemiBold.ttf");
}

.App {
    --header_height: 60px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    padding: 70px 0 134px;

}

.hw {
    height: auto;
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    padding: 0 70px 30px 70px;
    font-family: Montserrat;
}


.hwTitle {
    width: fit-content;
    font-size: 22px;
    line-height: 27px;
    font-weight: 600;
    padding: 0 0 0 70px;
    margin-bottom: 10px;
    margin-top: 37px;
}