.container {
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: 600;
    margin-top: 40px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;

}

.number {
}
